parameters:
  level: 9
  paths:
    - src
    - tests

  excludePaths:
    # Exclude Rector's internal "vendor" folder
    - vendor/rector/rector/vendor/*
    # Exclude other deeply nested vendor paths if needed
    - vendor/*/*/vendor/*