parameters:
  level: 3
  paths:
    - src

  excludePaths:
    - vendor/*
    - var/*
    - '!vendor/onelogin/php-saml/**' # Allow PHPStan to analyze onelogin/php-saml

  bootstrapFiles:
      - vendor/autoload.php
