parameters:
  level: 3

  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - vendor/*
    - '!vendor/onelogin/php-saml/**' # Allow PHPStan to analyze onelogin/php-saml

  scanDirectories:
    - vendor/onelogin/php-saml/src # Explicitly include onelogin/php-saml for analysis

  bootstrapFiles:
      - vendor/autoload.php
